<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_05_String Formatting.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Concatenate Strings (1.5.1)

In [2]:
# Code Needed
job_title = 'Data Scientist'
new_job_title = 'Job Title: ' + job_title
print(new_job_title)

Job Title: Data Scientist

---

## ðŸŸ© Format with f-strings (1.5.2)

In [3]:
# Code Needed
position = 'Data Scientist'
company = 'DataWiz Inc.'
position_at_company = f'{position} at {company}'
print(position_at_company)

Data Scientist at DataWiz Inc.

---

## ðŸŸ© Format with str.format() (1.5.3)

In [4]:
# Code Needed
role = 'Data Analyst'
skill = 'Python'
Role_skill = 'Role: {}, Skill: {}'.format(role, skill)
print(Role_skill)

Role: Data Analyst, Skill: Python

---

## ðŸŸ¨ Format with %-formatting (1.5.4)

In [5]:
# Code Needed
role = 'Data Engineer'
skill = 'SQL'
Role_skill = 'Role: %s, Skill: %s' % (role, skill)
print(Role_skill)

Role: Data Engineer, Skill: SQL

---