<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_07_Conditional Statements.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Determine Python Experience (1.7.1)

In [2]:
# Code Needed
python_experience = 3
if python_experience < 2:
  skill_level = 'Beginner'
else:
  skill_level = 'Intermediate'
print(skill_level)

Intermediate

---

## ðŸŸ¨ Determine Job Skill Level (1.7.2)

In [7]:
# Code Needed
tools_known = 3
if tools_known < 3:
  skill_level = 'Beginner'
elif tools_known < 5:
  skill_level = 'Intermediate'
else:
  skill_level = 'Advanced'

print(skill_level)

Intermediate

---

## ðŸŸ¥ Determine Job Title (1.7.3)

In [9]:
# Code Needed
job_experience = 4
sql_experience = 2

if job_experience < 2:
  if sql_experience == 0:
    job_title = 'Associate Analyst'
  if sql_experience > 0:
    job_title = 'Junior Analyst'
elif job_experience <= 5:
  if sql_experience == 0:
    job_title = 'Associate Analyst'
  if sql_experience == 1:
    job_title = 'Intermediate Analyst'
  if sql_experience > 1:
    job_title = 'Senior Analyst'
else:
  if sql_experience <= 2:
    job_title = 'Data Analyst'
  if sql_experience >= 3:
    job_title = 'Lead Analyst'
print(job_title)

Senior Analyst

---